<footer class="footer-section">
   <div class="container">
      <div class="footer-cta pt-5 pb-5">
         <div class="row">
            <div class="col-xl-4 col-md-4 mb-30">
               <div class="single-cta">
                  <i class="fas fa-map-marker-alt"></i>
                  <div class="cta-text">
                     <h4>Address</h4>
                     <span>Luleå, Sweden</span>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-30">
               <div class="single-cta">
                  <i class="fas fa-phone"></i>
                  <div class="cta-text">
                     <h4>Phone</h4>
                     <span>reach me out via mail first ;)</span>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-30">
               <div class="single-cta">
                  <i class="far fa-envelope-open"></i>
                  <div class="cta-text">
                     <h4>Email</h4>
                     <a href="mailto:me@martinabdulghni.com"><span>me&#64;martinabdulghni.com</span></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="footer-content pt-5 pb-5">
         <div class="row">
            <div class="col-xl-4 col-lg-4 mb-50">
               <div class="footer-widget">
                  <div class="footer-logo">
                     <a href="index.html"><img src="/assets/imgs/abdulghni.png" class="img-fluid" alt="logo" /></a>
                  </div>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
               <div class="footer-widget">
                  <div class="footer-widget-heading">
                     <h3>Follow Me</h3>
                  </div>
                  <ul>
                     <li><a href="https://www.linkedin.com/in/martinabdulghni/">LinkedIn</a></li>
                     <li><a href="https://www.instagram.com/moveeex/">Instagram</a></li>
                     <li><a href="https://www.facebook.com/profile.php?id=100066596735951&locale=sv_SE">Facebook</a></li>
                     <li><a href="https://github.com/martinabdulghni">Github</a></li>
                     <li><a href="https://www.snapchat.com/add/movexhimself">Snapchat</a></li>
                     <li><a href="https://www.tiktok.com/@movexhimself">TikTok</a></li>
                  </ul>
               </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
               <div class="footer-widget">
                  <div class="footer-widget-heading">
                     <h3>Contact Me</h3>
                  </div>
                  <div class="footer-text mb-25">
                     <p>Feel free to contact me. A virtual coffee chat would be delightful!</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
