<div class="hero">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-6 left-block text-center text-md-left">
            <!-- <h5 class="hero-title" id="loading-dots"></h5> -->
            <h5 class="hero-title">Status: <span class="monokai-green"> 200 OK </span></h5>
            <div class="text-start" id="code-console">
               <ol class="console-box" id="console-box">
                  <li>
                     <span class="monokai-lightgrey">&lt;!-- fetched data --&gt;</span>
                  </li>
                  <li>
                     <span class="monokai-white">&lt;<span class="monokai-red">h1 </span> <span class="monokai-green">class</span>=<span class="monokai-yellow">"name"</span>&gt;Martin Abdulghni&lt;/<span class="monokai-red">h1</span>&gt;</span>
                  </li>
                  <li>
                     <span class="monokai-white"
                        >&lt;<span class="monokai-red">h2 </span> <span class="monokai-green">class</span>=<span class="monokai-yellow">"bio"</span>&gt;designer & fullstack developer&lt;/<span class="monokai-red">h2</span>&gt;</span
                     >
                  </li>
                  <li>
                     <span class="monokai-white">&lt;<span class="monokai-red">h6 </span> <span class="monokai-green">class</span>=<span class="monokai-yellow">"age"</span>&gt;22&lt;/<span class="monokai-red">h6</span>&gt;</span>
                  </li>
                  <li>
                     <span>&nbsp;</span>
                  </li>
                  <li>
                     <span class="monokai-white"
                        >&lt;<span class="monokai-red">script </span> <span class="monokai-green">src</span>=<span class="monokai-yellow">"https://code.jquery.com/jquery-3.6.0.min.js"</span>&gt;&lt;/<span class="monokai-red">script</span>&gt;</span
                     >
                  </li>
                  <li>
                     <span class="monokai-white">&lt;<span class="monokai-red">script</span>&gt;</span>
                  </li>
                  <li>
                     <span class="monokai-white"><span class="monokai-teal">$(document)</span>.<span class="monokai-teal">ready</span>(<span class="monokai-teal">function</span>() &#123;</span>
                  </li>
                  <li>
                     <ul>
                        <li>
                           <span class="monokai-white"><span class="monokai-teal">$('.name')</span>.<span class="monokai-teal">text</span>(<span class="monokai-yellow">'Martin Abdulghni'</span>);</span>
                        </li>
                        <li>
                           <span class="monokai-white"><span class="monokai-teal">$('.bio')</span>.<span class="monokai-teal">text</span>(<span class="monokai-yellow">'designer & fullstack developer'</span>);</span>
                        </li>
                        <li>
                           <span class="monokai-white"><span class="monokai-teal">$('.age')</span>.<span class="monokai-teal">text</span>(<span class="monokai-yellow">'22'</span>);</span>
                        </li>
                     </ul>
                  </li>
                  <li>
                     <span class="monokai-white">&#125;);</span>
                  </li>
                  <li>
                     <span class="monokai-white">&lt;/<span class="monokai-red">script</span>&gt;</span>
                  </li>
               </ol>
            </div>
         </div>
         <div class="col-md-6 right-block"></div>
      </div>
   </div>
</div>
