.modal button.close {
   right: 0;
   outline: 0;
}

#gallery-lightbox > div {
   overflow: hidden;
}
#gallery-lightbox img {
   height: 350px;
   object-fit: cover;
   transition: 0.1s all;
}

#gallery-lightbox img:hover {
   scale: 1.1;
   filter: grayscale(0%);
}
.et-hero-tabs,
.et-slide {
   padding: 4em 2em 2em 2em;
   h1 {
      font-size: 2rem;
      letter-spacing: 1rem;
   }
   h3 {
      font-size: 1rem;
      letter-spacing: 0.3rem;
      opacity: 0.6;
   }
}
.img-holder1 {
   overflow: hidden;
   border-top-left-radius: 6vw;
}
.img-holder2 {
   overflow: hidden;
}
.img-holder3 {
   overflow: hidden;
   border-bottom-right-radius: 6vw;
}

.gallery-wrap {
   margin-bottom: 10px;
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 300px;
   overflow: hidden;
   left: 0;
   position: relative;
   border-top-right-radius: 6vw;
   border-top-left-radius: 6vw;
}
.gallery-wrap2 {
   margin-bottom: 10px;
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 300px;
   overflow: hidden;
   right: 10vw;
   position: relative;
}
.gallery-wrap2-2 {
   margin-bottom: 10px;
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 300px;
   overflow: hidden;
   left: 10vw;
   position: relative;
}
.gallery-wrap3 {
   margin-bottom: 10px;
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 300px;
   overflow: hidden;
   left: 0;
   position: relative;
   border-bottom-right-radius: 6vw;
   border-bottom-left-radius: 6vw;
}

.item {
   flex: 1;
   height: 100%;
   background-position: center;
   background-size: cover;
   background-repeat: none;
   transition: flex 0.8s ease;
   object-fit: cover;

   &:hover {
      flex: 7;
   }
}
